<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="header">
        <h2>Bookstore Inventory</h2>
        <a href="../../">Home</a>
        <a href="../">Books</a>
        <a href="../../categories">Categories</a>
        <form>
            <label for="search">Search a book: </label>
            <input name="search" id="search" type="text">
            <button type="submit">Go</button>
        </form>
    </div>
    <div>Hello there!</div>
    <form method="post">
        <h4>Enter a new book</h4>
        <label for="title">Title: </label>
        <input name="title">
        <label for="author">Author: </label>
        <input name="author">
        <label for="release_date">Year of release: </label>
        <input name="release_date" type="number" min="0" max="2025">
        <label for="genre">Genre: </label>
        <select name="genre">
            <option>Thriller</option>
            <option>Action</option>
            <option>Romance</option>
            <option>Comedy</option>
            <option>Non-Fiction</option>
            <option>Fiction</option>
            <option>Classics</option>
            <option>Sci-Fi</option>
        </select>
        <button type="submit">Submit Book</button>
    </form>
</body>
</html>