<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="header">
        <h2>Categories</h2>
        <a href="../">Home</a>
        <a href="/">Books</a>
        <a href="../categories">Categories</a>
        <form>
            <label for="search">Search a book: </label>
            <input name="search" id="search" type="text">
            <button type="submit">Go</button>
        </form>
    </div>
    <div class="book-grid-container">
        <div class="categories-grid">
                <div class="categories-card">Thriller</div>
                <div class="categories-card">Action</div>
                <div class="categories-card">Comedy</div>
                <div class="categories-card">Non-Fiction</div>
                <div class="categories-card">Fiction</div>
                <div class="categories-card">Classics</div>
                <div class="categories-card">Sci-Fi</div>
                <div class="categories-card">Adventure</div>
                <div class="categories-card">Horror</div>
        </div>  
    </div>
</body>
</html>