<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Genres</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="header">
        <h2>Book Genres</h2>
        <a href="../">Home</a>
        <a href="/">Books</a>
        <a href="/genres">Genres</a>
        <form method="get" action="/search/">
            <label for="search">Search a book: </label>
            <input name="search" id="search" type="text">
            <button type="submit">Go</button>
        </form>
    </div>
    <div class="book-grid-container">
        <div class="categories-grid">
                <div class="categories-card"><a href="/genres/thriller">Thriller</a></div>
                <div class="categories-card"><a href="/genres/action">Action</a></div>
                <div class="categories-card"><a href="/genres/comedy">Comedy</a></div>
                <div class="categories-card"><a href="/genres/non-fiction">Non-Fiction</a></div>
                <div class="categories-card"><a href="/genres/fiction">Fiction</a></div>
                <div class="categories-card"><a href="/genres/classics">Classics</a></div>
                <div class="categories-card"><a href="/genres/sci-fi">Sci-Fi</a></div>
                <div class="categories-card"><a href="/genres/adventure">Adventure</a></div>
                <div class="categories-card"><a href="/genres/horror">Horror</a></div>
        </div>  
    </div>
</body>
</html>