<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="header">
        <h2>Bookstore Inventory</h2>
        <a href="/">Home</a>
        <a href="/books">Books</a>
        <a href="/genres">Genres</a>
        <form method="get" action="/search/">
            <label for="search">Search a book: </label>
            <input name="search" id="search" type="text">
            <button type="submit">Go</button>
        </form>
    </div>
    <div>Hello there!</div>
</body>
</html>