a {
    text-decoration: none;
    text-transform: uppercase;
}

.header > a {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bolder;
}

body {
    margin: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(232, 232, 232);
}

.header {
    height: 80px;
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    background-color: rgb(22, 22, 22);
    color: rgb(255, 255, 255);
    align-items: center;
    padding: 25px;
}

.separator {
    height: 20px;
}

.book-grid-container {
    display: flex;
    justify-content: center;
}

.book-grid {
    margin: 0 auto;
    justify-content: center;
    width: 90vw;
    display: grid;
    gap: 20px;
    grid-template-columns: 20% 20% 20% 20%;
}

.book-card {
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    box-shadow: 4px 4px;
}

.book-title {
    font-size: 1.2rem;
    font-weight: bolder;
}

.categories-grid {
    height: 80vh;
    width: 80vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.black-line {
    height: 1px;
    width: 100%;
    background-color: black;
}

.categories-card {
    height: 100%;
    text-align: center;
    font-size: larger;
    font-weight: 800;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 4px 4px;
    color: black;
    transition: background-color 2s;
}

.categories-card:hover {
    transition: background-color 0.2s;
    background-color: rgb(50, 129, 199);
}

.categories-card > a {
    color: black;
    padding: 40px;
}

.home-page-container {
    height: 50vh;
    width: 80vw;
    margin: 20px auto;
    display: flex;
    gap: 80px;
    justify-content: space-evenly;
    align-items: center;
}

.book-list-card, .genre-list-card {
    position: relative;
    text-align: center;
    color:white;
}

.book-image, .genre-image {
    height: 400px;
    width: 500px;
    object-fit: cover;
    opacity: 40%;
    border: 4px solid black;
    box-shadow: 4px 4px black;
    z-index: 3;
    transition: opacity .4s ease-in-out;
}

.book-image-link, .genre-image-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid black;
    box-shadow: 4px 4px;
    z-index: 3;
  }

.book-image-link:hover + .book-image, .genre-image-link:hover + .genre-image, .genre-image:hover, .book-image:hover {
    opacity: 80%;
}

.pre-text-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 30px 30% 0 30%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 4px 4px;
}

.search-button {
    display: inline;
}

.search-form {
    display: inline-block;
}
.update-form {
    background-color: white;
    border: 1px solid black;
    box-shadow: 4px 4px;
    padding: 30px;
    margin-top: 40px;
}

h4 {
    margin: 10px 10px 20px 10px;
    text-align: center;
    color: rgb(21, 0, 128);
}

.update-form-container {
    display: flex;
    justify-content: center;
}

.book-update-btn {
    text-align: center;
}

.update-form > input {
    width: 100%;
    margin: 3px 0 3px 0;
    height: 1.2rem;
}

.update-form > select {
    width: 100%;
    height: 1.2rem;
}

.card-image {
    width: 100%;
}

.card-text-container {
    padding: 10px;
}

.book-add-container {
    display: flex;
    justify-content: center;
}

.book-add-btn {
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 4px 4px;
    color: black;
}

.book-genre, .book-date, .book-author {
    font-size: 0.8rem;
    padding: 2px;
}

.delete-book-btn {
    margin-top: 5px;
}

.update-book-btn {
    padding: 10px;
}

.no-results-container {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 15px;
    border: 1px solid black;
    box-shadow: 4px 4px;
}

.no-results-flexbox {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}